html {
    scroll-behavior: smooth
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 81, 1) 40%);
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

h1 {
    font-size: 40px;
}

img {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 700px;
    max-height: 600px;
    border-style: double;
    border-color: #58f29d5e;
    border-width: 5px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

.Motivações {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #58f29d5e;
    border: 3px solid #ccc;
    border-radius: 10px;
    max-width: 500px;
    line-height: 20px;
    margin: auto;
    padding: 30px;
}

.Motivações2 {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #269c5b;
    font-size: 12px;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.seta {
    max-width: 100px;
    border-style: dashed;
    border-color: #58f29d5e;
    border-radius: 100%;
    border-width: 5px;
}

.seta:hover {
    animation: pulse 1s infinite;
}

/*Animação da seta*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#head {
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 70%;
}

.seta {
    max-width: 100px;
    border-style: dashed;
    border-color: #58f29d5e;
    border-radius: 100%;
    border-width: 5px;
}

/*Seção de estilo APENAS para a navBar*/
.navbar {
    background-color: #227a4a;
    display: flex;
    justify-content: left;
    top: 0;
    position: sticky;
    width: 100%;
}

/*Links para as páginas*/
.navbar a {
    float: left;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Subnav(ABA DE BAIXO)*/
.subnav {
    float: left;
    overflow: hidden;
}

/*Botão da subnav*/
.subnavbtn {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.subnavbtn:hover {
    background-color: #269c5b;
}


/*Transição dos botões*/
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #227a4a;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #269c5b;
}

.subnav:hover .subnav-content {
    display: block;
}

/*NavBar Responsiva*/
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }

    .subnav {
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }

    .subnavbtn {
        justify-content: space-around;
    }


    .subnav-content {
        position: static;
        display: none;
        cursor: pointer;
    }

    .subnav:hover .subnav-content {
        justify-content: center;
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        justify-content: center;
    }

    img {
        max-width: 500px;
        max-height: 400px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }


}

.Site:hover {
    color: #2fa8ff;
    transition: 200ms;
}