body{
    background-color: #23272A;
    color: whitesmoke;
    font-family: Cambria;
    margin: 0%;
    padding: 0%;
}
.nome{
    border-radius: 15px;
}
.email{
    border-radius: 15px;
}
.chat{
    width: 450px;
    height: 200px;
    border-radius: 15px;
}
.botão{
    border-radius: 15px;
    width: 100px;
    height: 30px;
}
.botão:hover{
    background-color: #58f29d5e;
}
h1{
    text-align: center;
}
.NavBar{
    word-spacing: 300px;
    max-width: 1300px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #58f29d5e;
    border: 2px solid #58f29d29;
    font-family: Cambria;
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
}
#head{
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
}