html {
    scroll-behavior: smooth
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,81,1) 40%);
    color: whitesmoke;
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

.img1 {
    max-width: 200px;
    max-height: 350px;
    border-style: dashed;
    border-color: #58f29d5e;
    border-radius: 100%;
    border-width: 5px;
}

.img2 {
    max-width: 900px;
    max-height: 800px;
    border-radius: 15px;
    border-style: dashed;
    border-width: 5px;
    border-color: #58f29d5e;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
}

section {
    background-color: #58f29d5e;
    border-radius: 10px;
    max-width: 250px;
    margin: auto;
    padding: 10px;
}

footer {
    font-size: 15px;
}

.SobreMim{
    font-size: 40px;
}


#head {
    text-align: left;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 70%;
}

.HardSkills {
    margin: 50px;
    text-align: justify;
}
.SENAI{
    list-style-image: url(Img/SENAI-SP.jpg);
}
.SoftSkills {
    margin: 50px;
    text-align: justify;
}

.seta {
    max-width: 100px;
    border-style: dashed;
    border-color: #58f29d5e;
    border-radius: 100%;
    border-width: 5px;
}

.navbar {
    overflow: hidden;
    background-color: #58f29d5e;
    margin-bottom: 50px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: #58f29d5e;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #58f29d5e;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #58f29d5e;
    color: #58f29dbd;
}

.subnav:hover .subnav-content {
    display: block;
}

.RedesSociais:hover{
    background-color: #353c41;
    transition: 200ms;
}
